.middle-box
  .box-header
    Forgot password
  .box-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        = f.email_field :email, autofocus: true
      .actions
        = f.submit "Submit", class: 'btn grey'