.section.new-project-copy
  .inner-section
    Let's start a new project!
= form_for [@user, Project.new] do |f|
  .section.new-project
    .inner-section
      = render partial: 'new_project_steps_header'
      .step-form
        .step.active.hidden
          I want to
          %span.highlighted.goal-text
            = f.text_field :name
          .clearfix
          by
          %span.highlighted.time-period-text
            = f.date_field :end_date
          .clearfix
          or I will donate
          %span.highlighted.monetary-amount-text
            .value
              &nbsp;
          to
          %span.highlighted.charity-name-text
            .value
              &nbsp;

  .middle-box.medium.hidden
    .box-header
      New project
    .box-body
      .form-area
        = f.label :name 
        = f.text_field :name
      .form-area
        = f.label :description
        = f.text_field :description
      .form-area
        = f.label :start_date
        = f.date_field :start_date
        = f.label :target_end_date
        = f.date_field :end_date
      .form-area
        %strong= f.label :project_type, "what kind of project is this?"
        %br
        = f.label :project_type, "one time"
        = f.radio_button :project_type, "one_time", id: "one-time"
        = f.label :project_type, "recurring"
        = f.radio_button :project_type, "recurring", id: "recurring"
      .form-area#has-check-ins
        %strong= f.label :has_check_ins, "would you like to have check in dates to track your progress?"
        %br
        = f.label :has_check_ins, "yes"
        = f.radio_button :has_check_ins, "1", id: "yes-checks"
        = f.label :has_check_ins, "no"
        = f.radio_button :has_check_ins, "0", id: "no-checks"
      .form-area#recurring-checks
        = f.label :check_in, "what dates would you like to complete your recurring goal?"
      .form-area#one-time-checks
        = f.label :check_in, "what would you like your check in dates to be?"
      .form-area#check-ins
        = fields_for :check_in do |c|
          = c.date_field :check_in_date
          = c.date_field :check_in_date
          = c.date_field :check_in_date
      .form-area
        = f.submit 'Create Project', class: 'btn green'