= form_for [@user, Project.new] do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_field :description
  = f.label "what kind of project is this?"
  = f.label :project_type, "one time"
  = f.radio_button :project_type, "o"
  = f.label :project_type, "recurring"
  = f.radio_button :project_type, "r"
  = f.label :start_date
  = f.date_field :start_date
  = f.label :target_end_date
  = f.date_field :end_date
  = f.hidden_field :user_id, value: @user.id
  = f.submit